(
    axes: {
        "light_rotate": Emulated(pos: Key(D), neg: Key(A)),
        "light_accelerate": Emulated(pos: Key(W), neg: Key(S)),

        "dark_rotate": Emulated(pos: Key(Right), neg: Key(Left)),
        "dark_accelerate": Emulated(pos: Key(Up), neg: Key(Down)),
    },
    actions: {
        "light_shoot": [
            [Key(Space)]
        ],
        "dark_shoot": [
            [Key(RControl)]
        ],
        "pause": [
            [Key(P)]
        ],
    },
)